.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 15px 0;
    font-size: 60px;
    line-height: 1.1;
    text-align: center;
    color: yellow;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.subTitle {
    margin: 15px 0;
    font-size: 45px;
    line-height: 1.1;
    color: #f05252;
}

.link {
    transform: translateX(0) translateY(5px);
    transition: transform 1s ease;
}

.card {
    display: flex;
    padding: 15px;
    margin-top: 15px;
    border: 1px solid rgb(85, 85, 85);
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
}

.projectName {
    margin: 0;
    color: #aaa;
    font-size: 32px;
}

.paragraph {
    width: 90%;
    color: #aaa;
    text-align: left;
}

.image {
    width: 120px;
    height: 60px;
    border-radius: 5px;
}

.card:hover {
    cursor: pointer;
    background-color: rgba(53, 41, 41, 0.25);
}
.card:hover .link {
    transform: translateX(5px) translateY(-5px);
    transition: transform 1s ease;
    
}

.gallery {
    display: flex;
    align-items: center;
    gap: 20px;
}

.carrete {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.onDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 250px;
    background-color: black;
    border-radius: 10px;
}

.imageOnDisplay {
    height: 250px;
    object-fit: contain;
    border-radius: 10px;
}

@media only screen and (max-width: 700px) {
.container {
    width: 100%;
}

    .carrete {
        display: none;
    }

    .card {
        flex-direction: column;
        align-items: center;
    }

    .onDisplay {
        height: 150px;
        width: 300px;
    }

    .imageOnDisplay {
        height: 150px;
    }
}