.tags {
    font-size: 32px;
    color: rgba(125, 212, 252, 0.123);
    pointer-events: none;
  }
  
  .spanUno {
    position: absolute;
    top: 250px;
    left: 520px;
    rotate: -12deg;
    font-size: 64px;
    color: rgba(125, 212, 252, 0.349);
  }
  .spanDos {
    position: absolute;
    top: 300px;
    right: 450px;
    rotate: 12deg;
    font-size: 64px;
    color: rgba(125, 212, 252, 0.349);
  }
  .spanTres {
    position: fixed;
    top: 40vh;
    left: 10vw;
    rotate: 8deg;
    animation: jumping 5s infinite steps(1);
  }
  
  .spanCuatro {
    position: fixed;
    top: 50vh;
    left: 5vw;
    rotate: -15deg;
    animation: jumping 5s infinite steps(1);
  }
   
  .spanCinco {
    position: fixed;
    top: 70vh;
    left: 7vw;
    rotate: 4deg;
    animation: jumping 5s infinite steps(1);
  }

  .spanSeis {
    position: fixed;
    top: 35vh;
    right: 15vw;
    rotate: -12deg;
    animation: jumping 5s infinite steps(1);
  }
  
  .spanSiete {
    position: fixed;
    top: 45vh;
    right: 20vw;
    rotate: 8deg;
    animation: jumping 5s infinite steps(1);
  }

  .spanOcho {
    position: fixed;
    top: 55vh;
    right: 10vw;
    rotate: 12deg;
    animation: jumping 5s infinite steps(1);
  }
  
  .spanNueve {
    position: fixed;
    top: 75vh;
    right: 5vw;
    rotate: -6deg;
    animation: jumping 5s infinite steps(1);
  }

  .spanDiez {
    position: fixed;
    top: 85vh;
    left: 10vw;
    rotate: 12deg;
    animation: jumping 5s infinite steps(1);
  }
 
  @keyframes jumping {
    0% {

      transform: translateY(-30vh) translateX(1vw) rotate(0);
    }
    25% {
      transform: translateY(-15vh) translateX(5vw) rotate(20deg)
    }
    50% {
      transform: translateY(0vh) translateX(2vw) rotate(-15deg)
    }
    75% {
      transform: translateY(25vh) translateX(0) rotate(8deg)
    }
    100% {

      transform: translateY(45vh) translateX(-1vw) rotate(-2deg);
    }
  }

  @media screen and (max-width: 800px) {
    .tags {
      display: none;
    }
  }