.container {
    top: 0;
    left: 0;
    /* background-color: #213547; */
    width: 80%;
    display: flex;
    justify-content: end;
    font-size: 40px;
} 

/* .navBar{
    position: fixed;
    top: 12vh;
    left: 0;
    height: 88vh;
    background-color: #488599af;
    padding: 2vh 5vh 2vh 2vh;
} */

.isNavShowed{
    width: 10vw;
    opacity: 1;
    visibility: visible;
    transition: width 0.3s ease-in-out, opacity 0.2s ease;
}

.isNavNotShowed{
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease-in-out, opacity 0.2s ease;
    opacity: 0;
} 

.list {
    text-align: left;
    list-style-type: none;
}

.hireMeImg {
    width: 70px;
}

.hireMe {
    display: flex;
    justify-content: center;
    gap: 20px;
    border: solid 2px transparent;
    padding: 10px;
    height: 70px;
    font-size: 45px;
}

.hireMe:hover{
    border: solid 2px white;
    border-radius: 5px;
    cursor: pointer;
}